## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here

sample_list_1 = list(random.sample(range(101), 80))
print(sample_list_1,'\n\n',len(sample_list_1))

[89, 47, 91, 32, 42, 60, 66, 86, 34, 21, 56, 71, 85, 19, 74, 96, 4, 49, 80, 68, 12, 92, 83, 84, 27, 55, 16, 59, 5, 88, 41, 30, 76, 46, 58, 99, 51, 69, 78, 44, 70, 20, 98, 15, 62, 48, 52, 2, 8, 75, 38, 25, 36, 40, 65, 31, 22, 35, 81, 24, 1, 77, 93, 39, 67, 10, 53, 82, 64, 7, 11, 29, 73, 54, 94, 63, 37, 17, 61, 43]

 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here

sample_list_2 = []
while len(sample_list_2) < 80:
    sample_list_2 += (random.sample(range(101),1))

print(sample_list_2, '\n\n', len(sample_list_2))

[24, 53, 18, 92, 26, 74, 66, 35, 37, 13, 34, 24, 75, 99, 28, 77, 79, 24, 44, 9, 7, 0, 62, 76, 29, 80, 94, 89, 53, 54, 56, 60, 54, 67, 71, 73, 22, 87, 77, 5, 47, 70, 76, 53, 95, 24, 48, 5, 52, 88, 80, 81, 34, 9, 17, 50, 63, 12, 1, 30, 5, 19, 38, 10, 15, 21, 52, 89, 37, 33, 9, 80, 35, 29, 2, 18, 20, 41, 29, 85]

 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# In a set, every element is unique so repetitive elements are deleted when a list it's transformed in a set.

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
# Your code here

set3 = set([i for i in set1 if i not in set2])

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
# Your code here

set4 = set([i for i in set2 if i not in set1])

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [14]:
# Your code here

set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [15]:
# Your code here

# set1 = set3 U set5
# set2 = set4 U set5
# set3 = set1 - set5 
# set4 = set2 - set5
# set5 = set1 âˆ© set 2 

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(True) if (len(set3.union(set5))) == len(set1) else False
print(True) if (len(set4.union(set5))) == len(set2) else False
print(True) if (len(set1) - len(set5)) == len(set3) else False
print(True) if (len(set2) - len(set5)) == len(set4) else False

80
58
33
11
47
True
True
True
True

#### Create an empty set called `set6`.

In [16]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [17]:
# Your code here

set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [18]:
# Your code here

print(True) if set1 == set6 else False

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
# Your code here

print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here

set3 = set3.union(set4, set5)
print(set3)

print()

set1 = set1.union(set2)
print(set3)

{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

{0, 1, 2, 4, 5, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [30]:
# Your code here

set1.pop() 
# ---> Sets are unordered. pop() removes and returns the first element stored in memory but it can be other different element than the first we see in screen.

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1, '\n\n', len(set1))

{2, 4, 5, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 98}

 70