# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended content.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit the urls below and take a look at their source code through Chrome DevTools. You'll need to identify the html tags, special class names, etc used in the html content you are expected to extract.

**Resources**:
- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide)
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are already imported for you. If you prefer to use additional libraries feel free to do it.

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [3]:
# your code here

html = requests.get(url).content

soup = bs(html, 'lxml')

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
# your code here

developers = soup.find_all('h1', {'class':"h3 lh-condensed"})

string = str(developers).split('href')
lst = []

for i in string[1:]:
    x = re.findall(r'="/.*"',i)[0][3:-1]
    y = re.findall(r'\s[A-Z].*', i)[0][1:]
    
    lst.append(x + ' (' + y + ')')

# display(lst)
print(*lst, sep='\n')

borkdude (Michiel Borkent)
prabirshrestha (Prabir Shrestha)
pmmmwh (Michael Mok)
arvidn (Arvid Norberg)
willmcgugan (Will McGugan)
amihaiemil (Mihai)
tesseralis (Nat Alison)
hrydgard (Henrik Rydgård)
saadpasta (Saad Pasta)
yuvipanda (Yuvi Panda)
moul (Manfred Touron)
gboeing (Geoff Boeing)
pbiggar (Paul Biggar)
jrfnl (Juliette)
yoshuawuyts (Yoshua Wuyts)
acao (Rikki Schulte)
Rich-Harris (Rich Harris)
dessalines (Dessalines)
jsuarezruiz (Javier Suárez)
orta (Orta Therox)
mrdoob (Mr.doob)
iravid (Itamar Ravid)
Koenkk (Koen Kanters)
dcodeIO (Daniel Wirtz)
pchaigno (Paul Chaignon)

#### Display the trending Python repositories in GitHub.

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [5]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [6]:
# your code here
html = requests.get(url).content
soup = bs(html, 'lxml')

In [7]:
texts = soup.find_all('h1', {'class':"h3 lh-condensed"})
texts = re.findall(r'href.*', str(texts))

In [8]:
projects = []

for i in texts:
    lst = []
    
    name = i.split('/')[1]
    project = i.split('/')[2][:-2]
    repo = f'http://www.github.com/{name}/{project}'
    
    lst.extend((name, project, repo))
    
    projects.append(lst)
    
#     print(f'User {name} with project {project} at {repo}')

pd.DataFrame(projects, columns=['User', 'Project', 'Repository'])

,User,Project,Repository
0,alievk,avatarify,http://www.github.com/alievk/avatarify
1,m4ll0k,Bug-Bounty-Toolz,http://www.github.com/m4ll0k/Bug-Bounty-Toolz
2,donnemartin,data-science-ipython-notebooks,http://www.github.com/donnemartin/data-science...
3,iduta,pyconv,http://www.github.com/iduta/pyconv
4,RasaHQ,rasa,http://www.github.com/RasaHQ/rasa
5,Deep-MI,FastSurfer,http://www.github.com/Deep-MI/FastSurfer
6,willmcgugan,rich,http://www.github.com/willmcgugan/rich
7,ildoonet,tf-pose-estimation,http://www.github.com/ildoonet/tf-pose-estimation
8,d2l-ai,d2l-en,http://www.github.com/d2l-ai/d2l-en
9,Gallopsled,pwntools,http://www.github.com/Gallopsled/pwntools
10,quantopian,zipline,http://www.github.com/quantopian/zipline
11,AlexxIT,YandexStation,http://www.github.com/AlexxIT/YandexStation
12,devanshbatham,Awesome-Bugbounty-Writeups,http://www.github.com/devanshbatham/Awesome-Bu...
13,deezer,spleeter,http://www.github.com/deezer/spleeter
14,vsitzmann,siren,http://www.github.com/vsitzmann/siren
15,shenweichen,DeepCTR,http://www.github.com/shenweichen/DeepCTR
16,microsoft,forecasting,http://www.github.com/microsoft/forecasting
17,PrefectHQ,prefect,http://www.github.com/PrefectHQ/prefect
18,VPanjeta,ModiScript,http://www.github.com/VPanjeta/ModiScript
19,libratbag,piper,http://www.github.com/libratbag/piper
20,Ultimaker,Cura,http://www.github.com/Ultimaker/Cura
21,frappe,erpnext,http://www.github.com/frappe/erpnext
22,deeppomf,DeepCreamPy,http://www.github.com/deeppomf/DeepCreamPy
23,wrenfairbank,telegram_gcloner,http://www.github.com/wrenfairbank/telegram_gc...
24,wistbean,learn_python3_spider,http://www.github.com/wistbean/learn_python3_s...

#### Display all the image links from Walt Disney wikipedia page.

In [9]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [10]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')
images = soup.find_all('a', {'class':"image"})

In [11]:
pics = []
for pic in images:
    pics.append(re.findall(r'/wiki.*"><', str(pic))[0][:-3])

for pic in pics:
    print('https://en.wikipedia.org'+pic)

https://en.wikipedia.org/wiki/File:Walt_Disney_1946.JPG
https://en.wikipedia.org/wiki/File:Walt_Disney_1942_signature.svg
https://en.wikipedia.org/wiki/File:Walt_Disney_envelope_ca._1921.jpg
https://en.wikipedia.org/wiki/File:Trolley_Troubles_poster.jpg
https://en.wikipedia.org/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg
https://en.wikipedia.org/wiki/File:Steamboat-willie.jpg
https://en.wikipedia.org/wiki/File:Walt_Disney_1935.jpg
https://en.wikipedia.org/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg
https://en.wikipedia.org/wiki/File:Disney_drawing_goofy.jpg
https://en.wikipedia.org/wiki/File:DisneySchiphol1951.jpg
https://en.wikipedia.org/wiki/File:WaltDisneyplansDisneylandDec1954.jpg
https://en.wikipedia.org/wiki/File:Walt_disney_portrait_right.jpg
https://en.wikipedia.org/wiki/File:Walt_Disney_Grave.JPG
https://en.wikipedia.org/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg
https://en.wikipedia.org/wiki/File:Disney_Display_Case.JPG
https://en.wikipedia.org/wiki/File:Disney1968.jpg
https://en.wikipedia.org/wiki/File:The_Walt_Disney_Company_Logo.svg
https://en.wikipedia.org/wiki/File:Animation_disc.svg
https://en.wikipedia.org/wiki/File:P_vip.svg
https://en.wikipedia.org/wiki/File:Magic_Kingdom_castle.jpg
https://en.wikipedia.org/wiki/File:Video-x-generic.svg
https://en.wikipedia.org/wiki/File:Flag_of_Los_Angeles_County,_California.svg
https://en.wikipedia.org/wiki/File:Blank_television_set.svg
https://en.wikipedia.org/wiki/File:Flag_of_the_United_States.svg

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page.

In [12]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [13]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')

In [14]:
links = soup.find_all('ul')
links = re.findall(r'href.*">', str(links))
link_lst = []

for i in links:
    if 'href="/wiki/' in i:
        lnk = i.split(' ')[0]
        link_lst.append(lnk[6:-1])

for link in link_lst:
    print('https://en.wikipedia.org'+link)
    
# Solucionar ')' al final de url  <--------------------------------

https://en.wikipedia.org/wiki/Pythonidae
https://en.wikipedia.org/wiki/Python_(genus)
https://en.wikipedia.org/wiki/Python_of_Aenus
https://en.wikipedia.org/wiki/Python_(painter)
https://en.wikipedia.org/wiki/Python_of_Byzantium
https://en.wikipedia.org/wiki/Python_of_Catana
https://en.wikipedia.org/wiki/Pythons_2
https://en.wikipedia.org/wiki/Monty_Python
https://en.wikipedia.org/wiki/Python_(Monty)_Pictures
https://en.wikipedia.org/wiki/CPython
https://en.wikipedia.org/wiki/CMU_Common_Lisp
https://en.wikipedia.org/wiki/PERQ#PERQ_3
https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)
https://en.wikipedia.org/wiki/Python_(Efteling)
https://en.wikipedia.org/wiki/Python_(Ford_prototype)
https://en.wikipedia.org/wiki/Python_(missile)
https://en.wikipedia.org/wiki/Python_(nuclear_primary)
https://en.wikipedia.org/wiki/Pyton
https://en.wikipedia.org/wiki/Wikipedia:About
https://en.wikipedia.org/wiki/Wikipedia:General_disclaimer

#### Find the number of titles that have changed in the United States Code since its last release point.

In [71]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [72]:
# your code here

html = requests.get(url).content
soup = bs(html,'lxml')
lst = list(soup.find_all('div', {'class':"usctitlechanged"}))

In [84]:
str(lst[4])

'<div class="usctitlechanged" id="us/usc/t19">\n\n          Title 19 - Customs Duties\n\n        </div>'

In [153]:
changed_titles = []

for i in lst:
    x = re.findall(r'Title.*', str(i))[0]
    
    if '<' in x:
        x = x.split(' <')
        changed_titles.append(x[0])
    else:
        changed_titles.append(x)

changed_titles

['Title 5 - Government Organization and Employees',
 'Title 8 - Aliens and Nationality',
 'Title 10 - Armed Forces',
 'Title 16 - Conservation',
 'Title 19 - Customs Duties',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations',
 'Title 50 - War and National Defense']

#### Find a Python list with the top ten FBI's Most Wanted names.

In [62]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [63]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')

In [64]:
soup = soup.find_all('h3', {'class': 'title'})

In [65]:
most_wanted = []

for i in soup:
    most_wanted.append(re.findall(r'>.*<', str(i))[0][1:-1])
    
display(most_wanted)

['JASON DEREK BROWN',
 'YASER ABDEL SAID',
 'ALEXIS FLORES',
 'EUGENE PALMER',
 'SANTIAGO VILLALBA MEDEROS',
 'RAFAEL CARO-QUINTERO',
 'ROBERT WILLIAM FISHER',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ']

####  Display the 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe.

In [22]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [23]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')

soup = soup.find_all('td',{'class':["tabev1", "tabev2", "tabev6", "tb_region"]})
split = 7

events = [soup[x:x+split] for x in range(0, len(soup), split)]

In [24]:
earthquakes = []

for event in events[:21]:
    
    earthq = []

    date = re.findall(r'\d{4}-\d{2}-\d{2}', str(event[0]))[0]    
    time = re.findall(r'\d{2}:\d{2}:\d{2}',str(event[0]))[0]
    lat = re.findall(r'>\d*\.\d*',str(event[1]))[0][1:] +\
        ' ' + re.findall(r'[A-Z]',str(event[2]))[0]
    lon= re.findall(r'>\d*\.\d*',str(event[3]))[0][1:] +\
        ' ' + re.findall(r'[A-Z]',str(event[4]))[0]
    region = re.findall(r'">.*<', str(event[6]))[0][3:-1]

    earthq.extend((date, time, lat, lon, region))

    earthquakes.append(earthq)

In [25]:
pd.DataFrame(earthquakes, columns=['Date', 'Time', 'Latitude', 'Longitude', 'Region'])

          Date      Time Latitude Longitude                            Region
0   2020-06-28  20:08:51  19.20 N  155.39 W          ISLAND OF HAWAII, HAWAII
1   2020-06-28  19:46:52  66.28 N   18.56 W                    ICELAND REGION
2   2020-06-28  19:11:02  21.10 S   68.94 W                   TARAPACA, CHILE
3   2020-06-28  19:06:15   2.47 S  118.81 E               SULAWESI, INDONESIA
4   2020-06-28  18:58:38  15.66 S   71.87 W                     SOUTHERN PERU
5   2020-06-28  18:55:00  33.33 S   72.44 W        OFFSHORE VALPARAISO, CHILE
6   2020-06-28  18:49:54  36.67 N   28.21 E  DODECANESE IS.-TURKEY BORDER REG
7   2020-06-28  18:44:18  17.95 N   66.85 W                PUERTO RICO REGION
8   2020-06-28  18:21:54  38.16 N  117.89 W                            NEVADA
9   2020-06-28  18:19:43  65.37 N  153.32 W                   NORTHERN ALASKA
10  2020-06-28  18:19:14  17.93 N   66.80 W                PUERTO RICO REGION
11  2020-06-28  18:13:38  47.19 N    9.45 E                       SWITZERLAND
12  2020-06-28  18:01:36  36.55 N   28.26 E  DODECANESE IS.-TURKEY BORDER REG
13  2020-06-28  17:50:58  36.69 N   28.25 E  DODECANESE IS.-TURKEY BORDER REG
14  2020-06-28  17:50:32  33.38 S   72.50 W        OFFSHORE VALPARAISO, CHILE
15  2020-06-28  17:50:07  19.21 N  155.40 W          ISLAND OF HAWAII, HAWAII
16  2020-06-28  17:43:29  36.69 N   28.26 E  DODECANESE IS.-TURKEY BORDER REG
17  2020-06-28  17:29:36   3.29 S  131.09 E              CERAM SEA, INDONESIA
18  2020-06-28  17:29:03  38.27 N   38.80 E                    EASTERN TURKEY
19  2020-06-28  17:20:42  38.12 N  118.09 W                            NEVADA
20  2020-06-28  17:12:47  18.34 N   71.80 W                      HAITI REGION

## -- Hasta aquí --

#### Count the number of tweets by a given Twitter account.
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code here

#### Number of followers of a given twitter account
Ask the user for the handle (@handle) of a twitter account. You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the followers for any provided account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code here

#### List all language names and number of related articles in the order they appear in wikipedia.org.

In [11]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [12]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')
soup_lang = soup.find_all('a')
languages = [i[2:-1] for i in re.findall(r'g>.*<',str(soup_lang))]
soup_articles = soup.find_all('bdi', {'dir':"ltr"})
number_articles = []

for i in soup_articles[:10]:
    nmb = re.findall(r'\d', str(i))
    number_articles.append(''.join(nmb))

pd.DataFrame(list(zip(languages, number_articles)), columns=('Language', 'Articles')).sort_values('Articles', ascending = False)

    Language Articles
0    English  6121000
3    Deutsch  2455000
5   Français  2234000
4    Русский  1642000
6   Italiano  1622000
2    Español  1611000
9     Polski  1419000
1        日本語  1216000
7         中文  1128000
8  Português  1038000

#### A list with the different kind of datasets available in data.gov.uk.

In [6]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [7]:
# your code here

html = requests.get(url).content
soup = bs(html, 'lxml')
soup = soup.find_all('a', {'class':'govuk-link'})[3:]

In [8]:
category = []
link = []
nmb_datasets = []

for i in range(len(soup)):
    string = (str(soup[i])[29:])
    string = string.split('">')
    link.append(string[0])
    category.append(string[1][:-4])

In [9]:
for i in link:
    html = requests.get(url+i).content
    soup = bs(html, 'lxml')
    soup = soup.find_all('span', {'class':'bold-small'})
    nmb = ''.join(re.findall(r'\d', str(soup)))
    nmb_datasets.append(nmb)

In [10]:
df = pd.DataFrame(list(zip(category, link, nmb_datasets)), columns=('Category', 'Link', 'Number_datasets'))
df['Link'] = url+df['Link']
df

,Category,Link,Number_datasets
0,Business and economy,https://data.gov.uk/search?filters%5Btopic%5D=...,967
1,Crime and justice,https://data.gov.uk/search?filters%5Btopic%5D=...,635
2,Defence,https://data.gov.uk/search?filters%5Btopic%5D=...,187
3,Education,https://data.gov.uk/search?filters%5Btopic%5D=...,1156
4,Environment,https://data.gov.uk/search?filters%5Btopic%5D=...,7472
5,Government,https://data.gov.uk/search?filters%5Btopic%5D=...,2537
6,Government spending,https://data.gov.uk/search?filters%5Btopic%5D=...,1858
7,Health,https://data.gov.uk/search?filters%5Btopic%5D=...,1816
8,Mapping,https://data.gov.uk/search?filters%5Btopic%5D=...,7214
9,Society,https://data.gov.uk/search?filters%5Btopic%5D=...,2402
10,Towns and cities,https://data.gov.uk/search?filters%5Btopic%5D=...,6679
11,Transport,https://data.gov.uk/search?filters%5Btopic%5D=...,950

#### Display the top 10 languages by number of native speakers stored in a pandas dataframe.

In [4]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [5]:
# your code here
pd.read_html(url)[0].set_index('Rank')

,Language,Speakers(millions),% of World pop.(March 2019)[8],Language family,Branch
Rank,,,,,
1,Mandarin Chinese,918.0,11.922,Sino-Tibetan,Sinitic
2,Spanish,480.0,5.994,Indo-European,Romance
3,English,379.0,4.922,Indo-European,Germanic
4,Hindi (Sanskritised Hindustani)[9],341.0,4.429,Indo-European,Indo-Aryan
5,Bengali,228.0,2.961,Indo-European,Indo-Aryan
...,...,...,...,...,...
87,Czech,10.7,0.139,Indo-European,Balto-Slavic
88,Taʽizzi-Adeni Arabic,10.5,0.136,Afroasiatic,Semitic
89,Uyghur,10.4,0.135,Turkic,Karluk
90,Min Dong Chinese,10.3,0.134,Sino-Tibetan,Sinitic
91,Sylheti,10.3,0.134,Indo-European,Indo-Aryan

## Bonus
#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code here

#### Display IMDB's top 250 data (movie name, initial release, director name and stars) as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code here

#### Display the movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
# your code here

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = input('Enter the city: ')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code here

#### Find the book name, price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [3]:
# your code here

catalogue = []

for i in range(1, 51):
    url = f'http://books.toscrape.com/catalogue/page-{str(i)}.html'

    html = requests. get(url).content
    soup = bs(html, 'lxml')
    books = soup.find_all(['img', 'p', 'p'], {'class':['thumbnail', 'price_color', 'instock availability']})
    row_split=3
    books_refactored = [books[x:x+row_split] for x in range (0, len(books), row_split)]
    
    for i in range(len(books_refactored)):
        
        book = []
        
        title = re.findall(r'=".*"\s', str(books_refactored[i]))
        title = str(title).split('"')[1]
        book.append(title)
        
        price = re.findall(r'£\d{2}\.\d{2}', str(books_refactored[i]))
        price = float(price[0][1:])
        book.append(price)
        
        avalaible = re.findall(r'(\n.*\n)', str(books_refactored[i]))[1]
        book.append(True) if 'In stock' in avalaible else book.append(False)
        
        catalogue.append(book)

df_catalogue = pd.DataFrame(catalogue, columns=['Title', 'Price', 'Availability'])
df_catalogue

                                                 Title  Price  Availability
0                                 A Light in the Attic  51.77          True
1                                   Tipping the Velvet  53.74          True
2                                           Soumission  50.10          True
3                                        Sharp Objects  47.82          True
4                Sapiens: A Brief History of Humankind  54.23          True
..                                                 ...    ...           ...
995  Alice in Wonderland (Alice\'s Adventures in Wo...  55.53          True
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06          True
997  A Spy\'s Devotion (The Regency Spies of London...  16.97          True
998               1st to Die (Women\'s Murder Club #1)  53.98          True
999                 1,000 Places to See Before You Die  26.08          True

[1000 rows x 3 columns]